{% extends "base.html" %} {% block title %} Remove Goods {% endblock %} {% block content %}
<form method="GET">
<div class="row">
    <div class="col-md-12">
      <!-- NEW ROW -->
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="quantity_01">Quantity</label>
                    <input type="number" min=1 class="form-control" id="quantity_01" name="quantity_01" autofocus>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="unit_01">Unit</label>
                    <input type="text" class="form-control" id="unit_01" name="unit_01">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name_01">Name</label>
                    <input type="text" class="form-control" id="name_01" name="name_01">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="location_01">Location</label>
                    <select class="form-control" id="location_01" name="location_01">
                        <option>Fridge</option>
                        <option>Freezer</option>
                        <option>Pantry</option>
                        <option>Counter</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <!-- NEW ROW -->
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="quantity_02">Quantity</label>
                    <input type="number" min=1 class="form-control" id="quantity_02" name="quantity_02">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="unit_02">Unit</label>
                    <input type="text" class="form-control" id="unit_02" name="unit_02">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name_02">Name</label>
                    <input type="text" class="form-control" id="name_02" name="name_02">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="location_02">Location</label>
                    <select class="form-control" id="location_02" name="location_02">
                        <option>Fridge</option>
                        <option>Freezer</option>
                        <option>Pantry</option>
                        <option>Counter</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <!-- NEW ROW -->
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="quantity_03">Quantity</label>
                    <input type="number" min=1 class="form-control" id="quantity_03" name="quantity_03">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="unit_03">Unit</label>
                    <input type="text" class="form-control" id="unit_03" name="unit_03">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name_03">Name</label>
                    <input type="text" class="form-control" id="name_03" name="name_03">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="location_03">Location</label>
                    <select class="form-control" id="location_03" name="location_03">
                        <option>Fridge</option>
                        <option>Freezer</option>
                        <option>Pantry</option>
                        <option>Counter</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <!-- NEW ROW -->
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="quantity_04">Quantity</label>
                    <input type="number" min=1 class="form-control" id="quantity_04" name="quantity_04">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="unit_04">Unit</label>
                    <input type="text" class="form-control" id="unit_04" name="unit_04">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name_04">Name</label>
                    <input type="text" class="form-control" id="name_04" name="name_04">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="location_04">Location</label>
                    <select class="form-control" id="location_04" name="location_04">
                        <option>Fridge</option>
                        <option>Freezer</option>
                        <option>Pantry</option>
                        <option>Counter</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <!-- NEW ROW -->
        <div class="row">
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="quantity_05">Quantity</label>
                    <input type="number" min=1 class="form-control" id="quantity_05" name="quantity_05">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="unit_05">Unit</label>
                    <input type="text" class="form-control" id="unit_05" name="unit_05">
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label for="name_05">Name</label>
                    <input type="text" class="form-control" id="name_05" name="name_05">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="location_05">Location</label>
                    <select class="form-control" id="location_05" name="location_05">
                        <option>Fridge</option>
                        <option>Freezer</option>
                        <option>Pantry</option>
                        <option>Counter</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <div class="row">
          <div class="col-xs-2 col-xs-offset-5">
            <input type="submit" class="btn-lg btn-primary btn-block" value="Submit">
          </div>
        </div>
    </div>
</div>
</form>
{% block script %}{{ super ()}}
<script type="text/javascript">
var ajax = new XMLHttpRequest();
ajax.open("GET", "/ingredients/in_stock/", true);
ajax.onload = function() {
	var list = JSON.parse(ajax.responseText).map(function(i) { return i; });
	new Awesomplete(document.querySelector("#name_01"), { list: list });
  new Awesomplete(document.querySelector("#name_02"), { list: list });
  new Awesomplete(document.querySelector("#name_03"), { list: list });
  new Awesomplete(document.querySelector("#name_04"), { list: list });
  new Awesomplete(document.querySelector("#name_05"), { list: list });
};
ajax.send();
</script>
{% endblock %}
{% endblock %}
