{% extends "base.html" %} {% block title %} Enter Leftovers {% endblock %} {% block content %}
<div class="row">
  <form method="POST" action="/leftovers/enter/">

    <div class="col-md-12">
      <!-- NEW ROW -->
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="leftover_01">Name</label>
                    <input type="text" class="form-control" id="leftover_01" name="leftover_01">
                </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="edate_01">Exp. Date</label>
                <input type="date" class="form-control" id="edate_01" name="edate_01" placeholder="mm/dd/yyyy">
              </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label for="location_01">Location</label>
                    <select class="form-control" id="location_01" name="location_01">
                        <option>Fridge</option>
                        <option>Freezer</option>
                        <option>Pantry</option>
                        <option>Counter</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-5">
            <input type="submit" class="btn-lg btn-primary btn-block" value="Submit">
          </div>
        </div>
    </div>
  </form>

</div>
{% if leftovers_added_string %}
</br>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">Items Added</div>
            <div class="panel-body">
                {{ leftovers_added_string }}
            </div>
        </div>
    </div>
</div>
{% endif %}{% endblock %}
